.btn{

    &_add {
    height: 39px;
    height: 39px;
    width: 166px;
    background-color: #272829;
    }

    &_delComplete {
        height: 39px;
        height: 39px;
        width: 214px;
        background: #6C757D;
    }

    &_delAll {
        height: 39px;
        height: 39px;
        width: 131px;
        background: #DC3545;
    }
    
}

