.input__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px 16px 0 0;
    padding: 24px 24px 25px 24px;
    border-bottom: 1px solid #DEE2E6;
}